<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Xóa Nhiều Dữ Liệu Bảng Nhân Viên</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #main{
            display: flex;
            padding:20px;
        }
        #sidebar{
            width: 22%;
            height: 100%;
        }
        #content {
            width: 78%;
            height: 530px;
            border: 2px solid #007bff;
            padding: 10px 20px;
            margin-left:30px ;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <div id="main">
        <div id="sidebar">
            <?php require_once("Sidebar.html") ?>
        </div>
        <div id="content">

            <h4 style="width:100%;text-align:center;color:#007bff">Xóa Nhiều Dữ Liệu Bảng Nhân Viên</h4>
            <form action='?delete_all' method='POST'>
                <table width='100%' class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Mã Nhân viên</th>
                            <th scope="col">Tên Nhân viên</th>
                            <th scope="col">Mã Phòng Phòng Ban</th>
                            <th scope="col">Địa chỉ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php 
                            for($i = 0; $i < sizeof($nhanvienList); $i++){
                                echo "<tr>";
                                echo "<td scope='row'>".$nhanvienList[$i]->IDNV."</td>";
                                echo "<td>".$nhanvienList[$i]->Hoten."</td>";
                                echo "<td>".$nhanvienList[$i]->IDPB."</td>";
                                echo "<td>".$nhanvienList[$i]->Diachi."</td>";	
                                echo "<td><input type='checkbox' name='checkedId[]' value='".$nhanvienList[$i]->IDNV."'></td>";
                            }
                        ?>
                    </tbody>
                </table>
                <hr>
                <button type='submit' class='btn btn-danger' ><i class='fa-solid fa-trash'></i> Xóa Các Nhân Viên</button>
            <br><br>
        </form>
        </div>
    </div>

</body>
</html>